nfl_site/db.sqlite3
nfl_site/nfl_site/__pycache__/
.DS_Store
Sprint-1/.DS_Store
.idea/
nfl_site/static/archive/
nfl_site/response/__pycache__/
nfl_site/response/migrations/__pycache__/
nfl_site/combine/__pycache__/
nfl_site/combine/migrations/__pycache__/
nfl_site/rushers/__pycache__/
nfl_site/rushers/migrations/__pycache__/
nfl_site/passing/__pycache__/
nfl_site/passing/migrations/__pycache__/
nfl_site/receiving/__pycache__/
nfl_site/receiving/migrations/__pycache__/
nfl_site/static/__MACOSX/
nfl_site/static/data.zip
nfl_site/player_management/__pycache__/
nfl_site/player_management/migrations/__pycache__/
static/saves/
nfl_site/static/team42libraries/__pycache__/
nfl_site/standings/__pycache__/
nfl_site/standings/migrations/__pycache__/
